<div class="container w-50 text-center">
    <h2 class="mb-5 mt-3">Add New Doctor</h2>
    <form [formGroup]="addForm" (ngSubmit)="addDoctor()" id="f" class="container border bg-light">
        <input  formControlName="doctorName" type="text" class="form-control mt-3 p-2" placeholder="doctorName" name="pin1" id="pin1">
        <input  formControlName="department" type="text" class="form-control mt-3 p-2" placeholder="department" name="pin2" id="pin2">
        <input  formControlName="qualification" type="text" class="form-control mt-3 p-2" placeholder="qualification" name="pin3" id="pin3">

        <input  formControlName="designation" type="text" class="form-control mt-3 p-2" placeholder="designation" name="pin4" id="pin4">

          <input  formControlName="imageUrl" type="text" class="form-control mt-3 p-2" placeholder="imageUrl" name="pin5" id="pin5">

        <input  formControlName="cosulting_hours" type="text" class="form-control mt-3 p-2" placeholder="cosulting_hours" name="pin6" id="pin6">


        <button type="submit" class="btn btn-success p-2 mt-3 mb-5" >Add</button>
    </form>
</div>