<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{pdata.imageUrl}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{pdata.doctorName}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-dark">Department : {{pdata.department}}</span>
                    <span></span>
                </div>
                <p class="lead"><strong> Designation : {{pdata. designation}}</strong></p>

                <p class="lead"><strong>Qualification : {{pdata.qualification}}</strong></p>
                <p class="lead"><strong>Consulting hours : {{pdata.cosulting_hours}}</strong></p>

                <div class="d-flex">
                    <button (click)="booking()"  class="btn btn-outline-dark flex-shrink-0"  type="button">
                        <i class="bi-cart-fill me-1"></i>
                      Booking
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
